<nav class="navbar 
            navbar-light    
            <%# fixed-top  %>
            bg-white">
    <div class="container">
        <button data-toggle="collapse" 
                data-target="#navcol-1" 
                class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" 
           href="#">
            <%= image_tag "logo_woudz.png", 
                style: "width: 150px" %>
        </a>
        <div class="collapse
                    navbar-collapse" 
             id="navcol-1">
            <ul class="nav 
                       navbar-nav">
                <li class="nav-item">
                    <a class="nav-link
                              active" 
                       href="#">
                       First Item
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>